* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  --gap: 40px;

  max-width: 1300px;
  margin: 0 auto;
  border: solid #dadada 1px;
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 0 1 calc(50% - var(--gap) / 2);
  height: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dadada;
  margin-bottom: var(--gap);
  padding: 25px;
  position: relative;
}

.item:nth-child(odd) {
  margin-right: var(--gap);
}

.item:nth-child(even) {
  margin-right: calc(-1 * var(--gap));
}

.item:nth-child(8n+3),
.item:nth-child(8n+8) {
  flex-basis: calc(60% - var(--gap) / 2)
}

.item:nth-child(8n+4),
.item:nth-child(8n+7) {
  flex-basis: calc(40% - var(--gap) / 2)
}

.item > img {
  max-width: 100%;
  max-height: 100%
}

.item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(3px);
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.item:hover .item-overlay {
  opacity: 1;
}

.item-overlay h3 {
  font-size: 56px;
}

.item-overlay p {
  margin-top: 20px;
  max-width: 448px;
}

.item-overlay a {
  padding: 20px 38px;
  margin-top: 60px;
  border: solid 1px #fff;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  align-self: flex-start;
}

@media screen and (max-width: 728px) {
  .container {
    display: block;
    padding: 0 var(--gap);
  }

  .item:nth-child(odd),
  .item:nth-child(even) {
    margin-right: 0;
  }
}